
@{
    ViewBag.Title = "DemoViewData_Model";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>DemoViewData_Model</h2>
<ul>
    @foreach (var item in ViewData["messages"] as List<Message>)
    {
        <li>@item.Subject</li>
    }
</ul>

