@model IEnumerable<PRODUCT>
@{
    ViewBag.Title = "DemoInclude";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DemoInclude</h2>
<div class="display-field">
    <table style="border:solid">
        <tr>
            <th style="border:dotted">商品名稱</th>
            <th style="border:dotted">商品類別</th>
            <th style="border:dotted">商品類別SelectList</th>
            <th style="border:dotted">商品所屬商店</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="border:dotted">@item.proName</td>
                <td style="border:dotted">@item.PRODUCTCLASS.proclassname</td>
                <td style="border:dotted">@Html.DropDownList("proClassNo", string.Empty)</td>
                <td style="border:dotted">@item.SHOP.shname</td>
            </tr>
        }
    </table>
    <br />
    使用DropDownList(controller set ViewBag(SelectList)&nbsp;)
</div>

