@{
    ViewBag.Title = "UserRegister";
    Layout = "~/Views/Shared/MainLayoutPage.cshtml";
}

@section head
{
    <meta charset="utf-8"/>
    }

@section extra
{
    
    }

@section script
{
    <script type="text/javascript">
    function PreviewImage1(imgFile) { 
        var pattern = /(\.*.jpg$)|(\.*.png$)|(\.*.jpeg$)|(\.*.gif$)|(\.*.bmp$)/;      
        if(!pattern.test(imgFile.value)) 
        { 
    	    alert("只支援jpg/jpeg/png/gif/bmp之格式檔案");  
    	    imgFile.focus(); 
        } 
        else 
        { 
    	    var path; 
    	    if(document.all){//IE  
    		    imgFile.select(); 
    		    path = document.selection.createRange().text; 
    		    document.getElementById("imgPreview1").innerHTML=""; 
    		    document.getElementById("imgPreview1").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\"" + path + "\")";
    	    } 
    	    else//FF 
    	    { 
    		    path = URL.createObjectURL(imgFile.files[0]);
    		    document.getElementById("imgPreview1").innerHTML = "<img src='"+path+" '  width='100' height='100'/>"; 
    	    } 
  	    } 
    }
    </script>
    }
<div>
    @{
        List<string> ErrorMessage = new List<string>();
        if (TempData["ErrorMessage"] != null)
        {
            ErrorMessage = TempData["ErrorMessage"] as List<string>;
        }
        }
    @using (Html.BeginForm("CheckUserRegister", "AllShowMember", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table style="border-collapse:collapse;border-spacing:10px;">
            <tr>
                <th>
                    @ViewBag.Title
                </th>
            </tr>
			<tr>
                <td colspan="2">
                    <span style="color:red">*為必填欄位</span>
                </td>
			</tr>
			<tr>
				<td>
                    <span style="color:red"><b>*</b></span>信箱:
				</td>
				<td>
					<input type="text" name="memEmail" value="">
				</td>
				<td>
                    <span style="color:red">
                        @foreach (var message in ErrorMessage)
                        {
                            if (message == "信箱請勿空白" || message == "請填入正確信箱格式，如:xxx@gmail.com" || message == "信箱已經被使用，請重新填寫")
                            {
                                 @message
                            }
                        }
                    </span>
				</td>
			</tr>
			<tr>
				<td>
                    <span style="color:red"><b>*</b></span>會員密碼:
				</td>
				<td>
					<input type="password" name="memPwd" value="">
				</td>
				<td>
                    <span style="color:red">
                        @foreach (var message in ErrorMessage)
                        {
                            if (message == "請填入正確密碼")
                            {
                                 @message
                            }
                        }
                    </span>
				</td>
			</tr>
			<tr>
				<td>
                    <span style="color:red"><b>*</b></span>會員密碼確認:
				</td>
				<td>
                    <input type="password" name="memPwdConfirmed">
				</td>
			</tr>
			<tr>
				<td>會員暱稱:</td>
				<td>
                    <input type="text" name="memDiminutive" value="">
				</td>
			</tr>
			<tr>
			<td>
                <span style="color:red"><b>*</b></span>會員姓名:
			</td>
				<td>
					<input type="text" name="memName" value="">
				</td>
				<td>
                   <span style="color:red">
                        @foreach (var message in ErrorMessage)
                        {
                            if (message == "請填入會員姓名")
                            {
                                 @message
                            }
                        }
                    </span>
				</td>
			</tr>
			<tr>
				<td>
                    <span style="color:red"><b>*</b></span>性別:
				</td>
				<td>
					<input type="radio" name="memSex" value="0" checked>男
					<input type="radio" name="memSex" value="1">女	 
				</td>
			</tr>
			<tr>
				<td>
                    <span style="color:red"><b>*</b></span>生日:
				</td>
				<td>
					<input type="text" id="dpBirthday" name="memBirth" value="">
				</td>
				<td>
                    <span style="color:red">
                        @foreach (var message in ErrorMessage)
                        {
                            if (message == "請填入生日")
                            {
                                 @message
                            }
                        }
                    </span>
				</td>
			</tr>
			<tr>
				<td>
                    <span style="color:red"><b>*</b></span>電話:
				</td>
				<td>
					<input type="text" name="memTel" value="">
				</td>
				<td>
                    <span style="color:red">
                        @foreach (var message in ErrorMessage)
                        {
                            if (message == "請填入電話")
                            {
                                 @message
                            }
                        }
                    </span>					
				</td>
			</tr>
			<tr>
				<td>
                    <span style="color:red"><b>*</b></span>地址:
				</td>
				<td>
					<input type="text" name="memAddress" value="">
				</td>
				<td>
                    <span style="color:red">
                        @foreach (var message in ErrorMessage)
                        {
                            if (message == "請填入地址")
                            {
                                 @message
                            }
                        }
                    </span>							
				</td>
			</tr>
			<tr>
				<td>照片:</td>
				<td>
					<div id="imgPreview1">
						<img width="100" height="100" src="#">
					</div>
					<input type="file" name="file" onchange='PreviewImage1(this)'>
				</td>
			</tr>
			<tr>
				<td>

				</td>
				<td style="background-color:pink">
				@{ 
                        Random ran = new Random();
                        String memCheckNumber = "";
                        for (int i = 0; i < 5; i++)
                        {
                            memCheckNumber += ran.Next(0, 9);
                        }
				    }				
					<input id="txt" type="hidden" name="memCheckNumber" value="@memCheckNumber">
					<span id="randomNumID"></span>				
				</td>
			</tr>
			<tr><td><input style="width:100px;height:40px" type="submit" name="btn_submit" value="註冊會員"></td></tr>
		</table>
    }@*end form*@
</div>


