@model AllShow.Models.edmx.AUTHORITYFUNCTION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AUTHORITYFUNCTION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.authorityname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorityname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.authorityno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
