@{
    Layout = null;
    string message = "我使用了Html.RenderAction";//宣告變數
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionTest2</title>
</head>
<body>
    <div>
        @Html.Raw("<h1><font color='blue'>message:"+message+"</font></h1>")
        <br/>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.shclassname</li> 
            }
        </ul>
    </div>
</body>
</html>
