@{
    ViewBag.Title = "PersonModelBinding";
}

<h2>PersonModelBinding</h2>
<div>
    @using (Html.BeginForm("PersonModelBinding", "Demo"))
    {
        <p>
        姓名:<input id="Text1" type="text" name="name"/> <br />
        年紀:<input id="Text2" type="text" name="age"/>
             <input id="Submit1" type="submit" value="送出" />
        </p>
    }
</div>
<h2>Name:</h2>@Model.Name
<h2>Age:</h2>@Model.Age