*{
	margin:0px;
	padding:0PX;
}
header,nav,section,aside,footer,article,hgroup{
	display:block;
}
body{
	text-align:center;
}
#big_wrapper{
	width:1280px;
	height:1400px;
	margin:10px auto;
}

#top_header{
	border:1px;
	padding:11px;
	text-align:left;
	height:150px;
	background-repeat:no-repeat;
}

#top_menu{
	color:white;
}
#top_menu li{
	display:inline-block;
	list-style:none;
	padding:5px;
	font:bold 16px Tahoma;
}

#main_section{
    float:right;
	width:800px;
	margin:30px; 
}


#side_menu{
	float:left;
	width:220px;
	margin:20px 0px;/*上下*/
	padding:25px;
	}
#the_footer{
	clear:both;	
	padding:20px;
	border-top:1px solid green;	
}

article{
	border:1px solid red;
	background:#FFFBCC;
	padding:20px;
	margin-bottom:15px;
	text-align:left;
}
article footer{
	text-align:right;
}
