@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HeaderEmbed</title>
</head>
<body>
    <header id="top_header">
        <h1>Welcome AllShow</h1>

        @if (ViewBag.MemName != "")
        {
            <div style="text-align:right;">Hello!!&nbsp;<span style="color:blue">@ViewBag.MemName</span>&nbsp;，歡迎來到AllShow</div>
            <div style="text-align:right;">@Html.ActionLink("登出","UserLogout","AllShowMember")/@Html.ActionLink("會員資料修改","UserDataUpdate","AllShowMember")</div>
        }
        else
        {
             <div style="text-align:right;">
                 @Html.ActionLink("登入","UserLogin","AllShowMember")
                 /
                 @Html.ActionLink("註冊會員","UserRegister","AllShowMember")
                 @*@Html.ActionLink("註冊會員","UserRegister2","AllShowMember")*@
             </div>
        }
    </header>
</body>
</html>
