@{
    ViewBag.Title = "DemoInput";
}

<h2>DemoInput</h2>
<div>
    @using (Html.BeginForm("CheckForm", "Demo"))
    {
        <input id="name" name="name" type="text" /><span style="color:red">@TempData["Error"]</span>
        <br/>
        <input id="Submit1" type="submit" value="submit" />
    }
</div>
